<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="alert-danger m-3">
        <h1>Not Authorized</h1>
        <p>Vous n'avez pas le droit d'accéder à cette page</p>
    </div>
</div>

</body>
</html>